@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

/*
LOVELYSOCKS STYLES
 */

/* ---Descktop CSS--- */

body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family:  'Tiro Telugu', 'Times New Roman', serif;

 }
 
 h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
 }
 
 a {
    text-decoration: none;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }

 /* 
    CSS Guide 

    1. General Styles
    2. Grid
    3. Annoucement message
    4. Header
    5. Main Hero Image
    6. New arrivals
    7. Rectangle section
    8. Contact section
    9. Footer
    --------
    10. Shop.html Content
    11. Collection
    12. Lightbox
 */

 /* 1. ---General Styles--- */

 .hidden {
    display: none;
}

.cr-red {
    color: #9a2018;
 }

 .container {
  width: 1200px;
  margin: 0 auto;

}

/* 2. ---Grid--- */


    .grid {
        display:grid;
        padding-left:15px;
        padding-right:15px;
        grid-template-columns: repeat(12, 70px);
        grid-column-gap: 30px;
     }


 /* 3. ---Annoucement message--- */
 
 #message-header-top {
    grid-column: 1/-1;
    margin-right: -15px;
    margin-bottom: -1px;
    background-color: #F09B9C;
    height: 50px;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
 }

 #message-header-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9999px;
    width: 11319px;
    height: 50px;
    background-color: #F09B9C;
    z-index: -1;
    margin-right: -700%;
  }

.message-header {
    background-color: #F09B9C;
    color:#fff;
    font-size:16px;
    justify-content: center;
    display:flex;
    align-items: center;
  }

 
/* 4.---Header---*/

#main-header {
    background-color: #fff;
    top:0px;
    height:110px;
 }
 
 .logo {
    grid-column:1/12;
    margin-top:35px;
 }

 .icon-container {
    display: flex;
    grid-column: 11 / -1;
    margin-top: 0px;
    margin-top: -50px; 
    margin-bottom: 25px;
    justify-content: flex-end;
  }
  
  .icon-container img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .icon-container img:hover {
    transform: scale(1.2);
  }

  .icon1 {
    margin-right: 25px;
  }
 
 #main-nav {
    grid-column: 1/11;
    margin:0;
    height:90px;
 }
 
 
 #main-nav ul {
    margin-top:20px;
    margin-left:10px;
    padding:0;
 }
 
 
 #main-nav ul li {
    display:inline;
    margin-right:28px;
 }
 
 #main-nav ul li:last-child {
 margin-right:0px;
 }
 
 #main-nav ul li a {
    color:#626262;
 }
 
 #main-nav ul li a:hover {
    padding-bottom:8px;
    border-bottom: 3px solid #F09B9C;
 }
 
 
 #main-nav ul li a.active {
    padding-bottom:8px;
    border-bottom: 3px solid #F09B9C;
 }
 
 
 #account-top {
    margin-top:0px;
    grid-column: 11/-1;
    margin-right: -15px;
    margin-bottom: -1px;
 }
 
 .account {
    background-color: #F09B9C;
    color:#fff;
    font-size:16px;
    justify-content: center;
    display:flex;
    align-items: center;

 }
 
 
 /* 5. ---Main Hero Section--- */
 
 #main-hero {
    height:455px;
    background: url(../images/springimage.png) no-repeat bottom;
    padding: 50px 22px;
 }
 
 #main-hero h2 {
    grid-column: 2/7;
    align-self: flex-start;
 }
 
 .hero-img-h2, .hero-img-h3{
 font-size: 24px;
 margin-top: 150px;
 color: #000;
 }
 
 .hero-img-h2 span, .hero-img-h3 span{
    color:#F09B9C;
    font-size: 16px;
 }
 
 .button-container {
    grid-column: 2 / 7;
    bottom: 10px; 
    left: 22px;
  }
  
  .check-em-out-button {
    display: inline-block;
    background-color: #FF7F50;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .check-em-out-button:hover {
    background-color: #FF6347; 
  }
  
 /* ---6. New arrivals--- */

  #hero-newarrivals {
    justify-content: center;
    padding-top: 30px;
  }

  .hero-newarrivals-h2 {
    font-size: 30px;
    color:#626262;
    text-align: center;
  
    
  }


#newarrivals-options {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 50px;
}

.title-line {
    grid-column: 2/12;
    width: 100%;
    background-color: #CF6666;
    border-top: 3px solid #CF6666;
    margin-top: 40px;
    margin-bottom: 20px;
}

.newarrival-img {
    grid-column: span 4;
    position: relative;
}

.newarrival-img img {
    display: block;
    width: 100%;
    height: auto;
}

.newarrival-img .hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.newarrivas-img .hidden h4 {
    font-size: 24px;
    color: #FFF;
    margin-bottom: 20px;
}

.newarrival-img .hidden p {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 40px;
}

.newarrival-img::before {
    content: "VIEW";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.newarrival-img:hover::before {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}


 /* 7.---Rectangle section---*/


#hero-message {
    justify-content: center;
    padding-top: 0px;
  }

  .hero-message-h2 {
    font-size: 40px;
    color:#626262;
    text-align: center;
    margin-bottom: 30px;
  }


  #rectangle-section {
    background-color: #F09B9C;
    height: 200px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 250px;
  }
  
  #rectangle-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9999px;
    width: 11319px;
    height: 550px;
    background-color: #F09B9C;
    z-index: -1;
    margin-right: -700%;
  }
 


  .rectangle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
  }
  
  .rectangle-message-h2 {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
  }
  
  .rectangle-content p {
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .btn {
    background-color: #e0e0e0;
    color: #4a4a4a;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #4a4a4a;
    color: #e0e0e0;
  }


  /* images inside rectangel */

  #rectangle-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rectangle-images-style {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10%;
  }
  
  .rectangle-images-right {
    float: right;
    margin-left: 35%;
  } 

  .rectangle-images-bottom-left {
    position: absolute;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10%;
  }

  .rectangle-images-bottom-right {
    position: absolute;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 35%;
  }


   /* animation to the circle images */

   .rectangle-images-style img {
    transition: all 0.2s ease-in-out;
  }

  .rectangle-images-style img:hover {
    transform: scale(1.1);
  }


  /* 8.---Contact section---*/
 
  #contact-section {
    margin-top: 50px;
  }
 

  #contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 40px;
  }

  .contact-message-h2 {
    font-size: 30px;
    color:#626262;
    margin-bottom: 20px;
  }

  .contact-content p {
    font-size: 25px;
    color:#626262;
    margin-bottom: 20px;
    line-height: 1.5;
  }

 /* Contact FORM */


 .contact-form {
    position: absolute;
    left: 55%;
    transform: translate(-50%, -50%);
    margin-left: 10%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .form-container {
    background-color: #FFEAEA;
    padding: 30px;
    border-radius: 10px;
  }
  
  .form-group {
    
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #E91E63;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #C2185B;
  }


/* 9.---Footer---*/


  
#footer-section {
    background-color: #F09B9C;
    height: 200px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #footer-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9999px;
    width: 11319px;
    height: 300px;
    background-color: #F09B9C;
    z-index: -1;
    margin-right: -700%;
  }
  
  #footer-section .helpinfo {
    flex-basis: 15%;
    padding-right: 10px;
  }
  
  #footer-section .helpinfo ul {
    list-style: none;
    padding: 0;
  }
  
  #footer-section .helpinfo ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 1.5;
    font-size: 16px;
  }
  
  #footer-section .helpinfo ul li a:hover {
    color: #ccc;
  }
  
  #footer-section .followus {
    flex-grow: 1;
  }
  
  #footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
  }
  
  #footer-section .social-icons a {
    display: inline-block;
    margin-right: 5px;
  }
  
  .be-in-the-know {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  
  .be-in-the-know h4 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .subscribe-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .subscribe-box input[type="email"] {
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    color: #666;
  }
  
  .subscribe-box button[type="submit"] {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #FCD3D4;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subscribe-box button[type="submit"]:hover {
    background-color: #BE5555;
  }
  


  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .all-rights {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .cad-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
  }
  
  
  
  .cad-button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;

  }

/*10 --shop.html Content--- */


#mainshop-hero {
  height:455px;
  background: url(../images/shopimage.png) no-repeat bottom;
  padding: 50px 22px;
}

#mainshop-hero h2 {
  grid-column: 2/7;
  align-self: flex-start;
  padding-top: 200px;
}

 /* 10.---Collection--- */

 #hero-colloectiontitle {
  justify-content: center;
  padding-top: 30px;
}

.hero-colloectiontittle-h2 {
  font-size: 30px;
  color:#626262;
  text-align: center;
}


 #collection-options {
  display: grid;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}


.collection-content {
  grid-column: span 4;
  position: relative;
}

.collection-content content {
  display: block;
  width: 100%;
  height: auto;
}

.collection-content .hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.collection-content .hidden h4 {
  font-size: 24px;
  color: #FFF;
  margin-bottom: 20px;
}



.textimages {
  text-align: center;
  background-color:  #F47677;
  color: white;
}



/* 11.---Lightbox--- */

.lightbox { 
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  background-image: url('../images/sheepsocks2.png');
  background-repeat: no-repeat;
  background-size: 50vh;
  background-position: 50px;
  display: none;
  width: 100%;
}

#lightbox-2 { background-image: url('../images/koalasocks2.png'); }
#lightbox-3 { background-image: url('../images/bearsocks2.png'); }
#lightbox-4 { background-image: url('../images/bananamilksocks2.png'); }
#lightbox-5 { background-image: url('../images/chicksocks2.png'); }
#lightbox-6 { background-image: url('../images/warmers2.png'); }
#lightbox-7 { background-image: url('../images/whitecutesocks2.png'); }
#lightbox-8 { background-image: url('../images/rabbitsocks2.png'); }
#lightbox-9 { background-image: url('../images/cozylongsocks2.png'); }


.lightbox-close {
  position: relative;
  top: 5px;
  left: 92%;
  color: #F09B9C;
  font-size: 3em;
  text-decoration: none;
  font-weight: bolder;
}

.lightbox-close:hover { 
  color: #FFD5D5;
}

.lightbox article {
  width: 60%;
  margin-left: 35%;
  padding-top: 100px;
}


.lb-heading {
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #FFEAEA;
}


.lb-text {
  padding-top: 20px;
  font-size: 22px;

}

.lb-text span {
  font-size: 28px;
  font-weight: bold;
  color: #F09B9C;
}

.lightbox:target { 
  display: block; 
}


.lb-checkbox-button {
  margin-top: 20px;
}

.hide-checkbox {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.lb-checkbox-button input[type=checkbox] + label {
  padding: 15px 60px;
  background-color: gray;
  color: white;
  font-size: 15px;
  border: none;
  width: 160px;
}

.lb-checkbox-button input[type=checkbox] + label:hover {
  background-color: #F09B9C;
  color: white;
  cursor: pointer;
}

.lb-checkbox-button img {
  padding-top: 15px;
  font-size: 15px;
  visibility: hidden;
}


.lb-checkbox-button input[type=checkbox]:checked + label ~ img {
  visibility: visible;
}




